<div class="btn-group" style="vertical-align: top; margin-right: 5px;">
  <%= link_to "Home", root_path, class: "btn btn-primary" %>
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <% if @query %>
      <% if authorized?("Check", "manage") %>
        <li><%= link_to "New Check", new_check_path(query_id: @query.id) %></li>
      <% end %>
      <% if authorized?("Report", "manage") %>
        <li><%= link_to "New Report", new_report_path(query_id: @query.id) %></li>
      <% end %>
      <li role="separator" class="divider"></li>
    <% end %>
    <li><%= link_to "Queries", root_path %></li>
    <li><%= link_to "Checks", checks_path %></li>
    <li><%= link_to "Reports", reports_path %></li>
  </ul>
</div>
